name: buf-pull-request
on:
  pull_request:
  push:
    branches:
      - main
env:
  BUF_TOKEN: ${{ secrets.BUF_TOKEN }}
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v3
      - name: Setup Buf
        uses: bufbuild/buf-setup-action@v1
      - name: Lint schema
        uses: bufbuild/buf-lint-action@v1
        with:
          input: .

  check-breaking:
    name: Detect breaking gRPC changes
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request_disabled'
    steps:
      - name: Check out repository
        uses: actions/checkout@v3
      - name: Setup Buf
        uses: bufbuild/buf-setup-action@v1
      - uses: bufbuild/buf-breaking-action@v1
        with:
          # The 'main' branch of the GitHub repository that defines the module.
          against: "https://github.com/${GITHUB_REPOSITORY}.git#branch=main"

  generate-gateway:
    name: Generate gateway
    runs-on: ubuntu-latest
    needs: lint
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Go
        uses: actions/setup-go@v3
        with:
          go-version-file: gateway/go.mod
      - name: Install protoc and other deps
        run: sudo apt-get install -y protobuf-compiler unzip wget
      - name: Install protoc-gen-grpc-gateway
        run: |
          wget https://github.com/grpc-ecosystem/grpc-gateway/releases/download/v2.14.0/protoc-gen-grpc-gateway-v2.14.0-linux-x86_64 -O /usr/local/bin/protoc-gen-grpc-gateway
          chmod 755 /usr/local/bin/protoc-gen-grpc-gateway
      - name: Install protoc-gen-openapiv2
        run: |
          wget https://github.com/grpc-ecosystem/grpc-gateway/releases/download/v2.14.0/protoc-gen-openapiv2-v2.14.0-linux-x86_64 -O /usr/local/bin/protoc-gen-openapiv2
          chmod 755 /usr/local/bin/protoc-gen-openapiv2
      - name: Install buf
        run: |
          wget https://github.com/bufbuild/buf/releases/download/v1.9.0/buf-Linux-x86_64 -O /usr/local/bin/buf
          chmod 755 /usr/local/bin/buf

      - name: Generate
        run: buf generate

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Build gateway
        uses: docker/build-push-action@v3
        if: github.event_name == 'pull_request'
        with:
          context: gateway
          target: gateway

          push: ${{ github.event_name == 'push' }}
          tags: magmax/sekura-gateway:latest
